*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),
     rgba(255, 255, 255, 0)), url(/IMAGENES/planeta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Inicio de la barra de tareas*/

.contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.barra ul {
    list-style: none;
}

.barra li {
    display: inline;
}

.barra a {
    text-decoration: none;
    color: #5a5a5a;
    margin: 0 15px;
    font-weight: bold;
    font-size: 20px;
}

.barra a:hover {
    color: #000000;
    padding: 5px;
    background-color: #D5E7F2;
    border-radius: 10px;
}

.barra img {
    height: 100px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.barra img:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .barra {
      flex-direction: column;
      text-align: center;
    }
    .barra a {
      margin: 10px 10px;
    }
}
/*Fin de la barra de tareas*/

#sobre-nosotros {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 8rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

#sobre-nosotros h1 {
    text-align: center;
    font-size: 5rem;
    color: #333;
    margin-bottom: 5rem;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

article {
    flex: 1;
    min-width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: lightcyan;
}

article h2 {
    font-size: 2rem;
    color: #005f73;
    margin-bottom: 1rem;
}

article p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
}



/*Pie de pagina*/

.pie-pagina {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 30vh;
  }


.footer {
    position: relative;
    width: 100%;
    background: white;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 5px ; 
    flex-wrap: wrap;
}
  
.instagram, .whatsapp, .email {
    list-style: none;
}
  
.enlace-icono {
    color: black;
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}
  
.enlace-icono:hover {
    transform: translateY(-10px);
}
  
.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
 }
  
.menu-elem {
    list-style: none;
}

.menu-letra {
    color: black;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
  
.menu-letra:hover {
    opacity: 1;
}
  
#derechos {
    color: black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }